.search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
  }
  
  .search-bar button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }