/*NavBar.css*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(244,102,0,0.979); /* Cambiamos el color a anaranjado */
  color: #fff;
  padding: 10px 20px; /* Aumentamos el padding para hacer la barra más gruesa */
  font-family: "Arial", sans-serif; /* Cambiamos la fuente a Arial o cualquier otra que prefieras */
}

.categories-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.categories-menu li {
  margin-right: 2px;
}

/* Eliminamos el subrayado de los enlaces */
/* Estilos para los enlaces del menú */
.navbar a {
  padding: 12px 20px; /* Puedes ajustar los valores según sea necesario */
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.3s ease; /* Transición suave */
  white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
}

/* Estilos para los enlaces del menú al pasar el cursor */
.navbar a:hover {
  background-color: rgb(177, 97, 31);
}
.logo a {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 0;
  margin-right: 5px;
}

.cart a {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding-top: 6px;
  padding-bottom: 6px;
}

.cart i{
  font-size: 28px;
}
.logo img{
  max-width: 120px;
}
.user {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
  align-items: center; /* Centramos horizontalmente los elementos */
  text-align: center; /* Centramos el texto */
}

.user a {
  display: flex;
  flex-direction: column; /* Aseguramos que el icono y el texto estén en columnas */
  align-items: center; /* Centramos horizontalmente los elementos */
  text-align: center; /* Centramos el texto */
}

.user i {
  font-size: 24px; /* Tamaño del icono */
}

.like {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección del flexbox a columna */
  align-items: center; /* Centramos horizontalmente los elementos */
  text-align: center; /* Centramos el texto */
}

.like a {
  display: flex;
  flex-direction: column; /* Aseguramos que el icono y el texto estén en columnas */
  align-items: center; /* Centramos horizontalmente los elementos */
  text-align: center; /* Centramos el texto */
}

.like i {
  font-size: 24px; /* Tamaño del icono */
}