/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(244,102,0,0.979); /* Cambiamos el color a anaranjado */
  color: #fff;
  padding: 10px 20px; /* Aumentamos el padding para hacer la barra más gruesa */
  font-family: "Arial", sans-serif; /* Cambiamos la fuente a Arial o cualquier otra que prefieras */
}


.categories-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.categories-menu li {
  margin-right: 2px;
}

/* Eliminamos el subrayado de los enlaces */
/* Estilos para los enlaces del menú */
.navbar a {
  padding: 12px 20px; /* Puedes ajustar los valores según sea necesario */
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.3s ease; /* Transición suave */
}

/* Estilos para los enlaces del menú al pasar el cursor */
.navbar a:hover {
  background-color: rgb(177, 97, 31);
}
.logo a {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 0;
  margin: 0;
}

.cart a {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding-top: 6px;
  padding-bottom: 6px;
}

.cart i{
  font-size: 28px;
}
.logo img{
  max-width: 120px;
}